body {
  background-image: url("background2.jpg");
  background-size: cover;
}
header h1 {
  text-align: center;
  font-weight: bold;
  font-size:60px;
  font-family: sans-serif;
  color:crimson !important;
  background-color:transparent !important;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.cells {
  display:table-cell;
  vertical-align: middle;
  font-weight: bold;
  color:deeppink;
  font-size:20px;
  text-align: center;
  border:1px solid transparent;
  border-radius:5px;
  margin:1px;
  width:80px;
  height:40px;
  background-color:darkgray;
  padding:0px;
}

#input {
  width:485px;
  height:40px;
  border-radius: 5px;
  text-align: right;
  display: block;
  margin: auto;
}
